.insti_head {
    color: orangered;
    text-transform: capitalize;
}

.hand_subhead {
    color: darkblue;
}

.goals_img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.goals_img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}